body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  font-size: 3rem;
  padding: 1rem 0;
  background-color: #2D5E55;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: #f3d3d4;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  background-image: url('music-background.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
  padding: 0 17% 10% 17%;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
